@import "./variables.scss";

@mixin mediaConfig() {
     @media (max-width: 1600px) {
          width: 25em;
          height: 25em;
     }

     @media (max-width: 1200px) {
          margin-left: 10em;
          margin-bottom: -5em;
     }

     @media (max-width: 992px) {
          margin-left: 10em;
          margin-bottom: -3em;
     }

     @media (max-width: 992px) {
          margin-left: 7em;
          margin-bottom: -3em;
          width: 15em;
          height: 15em;
     }

     @media (max-width: 576px) {
          margin-left: 5em;
          margin-bottom: -2em;
     }
}

.about-container {
     display: flex;
     flex-direction: column;
     padding: 10em 0;
     overflow: hidden;

     #img-coding {
          position: relative;
          position: relative;
          display: flex;
          justify-content: center;

          .img1 {
               border: 1px solid $differenceFontColor;
               max-width: 70%;
               border-radius: 15px;
               transform: translateY(5em);
               opacity: 0;
               transition: 0.5s ease-in-out;
          }

          .img1-in-out {
               opacity: 1;
               transform: translateY(0);
          }

          .img2 {
               transition: 0.5s ease-in-out;
               position: absolute;
               border-radius: 15px;
               width: 30em;
               height: 30em;
               left: 50%;
               bottom: 0;
               transform: translateX(-50%);
               margin-left: 40em;
               margin-bottom: -15em;
               box-shadow: 0 0 13px 1px rgba(66, 66, 66, 0.342);
               opacity: 0;
               scale: 0;

               @include mediaConfig();
          }

          .img2-in-out {
               opacity: 1;
               scale: 1;
               margin-left: 20em;

               @include mediaConfig();
          }
     }

     .content-wrapper {
          transition: 0.5s ease-in-out;
          opacity: 0;
          padding: 3em 0;
          display: flex;
          justify-content: center;

          .text-wrapper {
               margin-right: 30em;
               font-size: clamp(1em, 2.5vw, 1.3em);

               button {
                    @include buttonConfig();
               }

               @media (max-width: 1600px) {
                    margin-right: 20em;
               }

               @media (max-width: 1200px) {
                    margin-right: 15em;
               }

               @media (max-width: 992px) {
                    margin-right: 0;
               }
          }
     }

     .content-in-out {
          opacity: 1;
     }
}
