@import "./variables.scss";

// .contact-container {
//      position: relative;

//      .lottie-wrapper {
//           // margin-right: 100%;
//           position: absolute;
//           max-width: 25%;
//           max-height: 25%;
//           top: 0;
//           left: 0;
//           transition: 0.5s ease-in-out;

//           @media (max-width: 992px) {
//                max-width: 35%;
//                max-height: 35%;
//           }
//           @media (max-width: 768px) {
//                max-width: 45%;
//                max-height: 45%;
//           }
//      }
// }

.form-container {
     position: relative;
     margin: 20vh 0;
     border-radius: 15px;
     border: 1px solid lighten($primaryFontColor, 50%);

     h1 {
          color: $primaryFontColor;
     }

     form {
          position: relative;
          padding: 5em;
          font-size: 1.2em;

          @media (max-width: 576px) {
               margin: 10vh 0;
               padding: 2em;
          }

          button {
               @include buttonConfig();
          }

          img {
               position: absolute;
               right: 0;
               top: 50%;
               transform: translateY(-50%);
               transition: 0.5s ease-in-out;
               animation: UFO-positioning 5s linear infinite;

               @keyframes UFO-positioning {
                    0% {
                         margin-top: 5em;
                    }
                    50% {
                         margin-top: -5em;
                    }

                    100% {
                         margin-top: 5em;
                    }
               }

               @media (max-width: 1200px) {
                    top: 30%;
                    transform: translateY(-70%);
                    scale: 0.5;
               }

               @media (max-width: 992px) {
                    animation: none;
                    top: unset;
                    right: 0;
                    bottom: 0;
                    margin: -4em;
               }

               @media (max-width: 576px) {
                    scale: 0;
                    visibility: hidden;
               }
          }
     }
}
