@import "./variables.scss";

.contact-container {
     display: flex;
     margin: 10em 0;
     color: $primaryFontColor;

     .contact-form,
     .contact-messages {
          border: 1px solid red;
     }

     .contact-form {
          flex-grow: 1;
          padding: 3em 5em;

          form {
               .contact-btn-form {
                    border-radius: none;

                    @include buttonConfig2(
                         0.5em,
                         1.5em,
                         unset,
                         $secondaryFontColor,
                         $secondaryFontColor,
                         0px,
                         $primaryFontColor
                    );
               }

               .input-email,
               .input-phone,
               .input-comment {
                    margin: 2em 0;
               }

               .input-email,
               .input-phone {
                    max-width: 25rem;

                    .input-form-wrapper {
                         padding: 0;
                         position: relative;

                         & * {
                              transition: 0.3s ease-in-out;
                         }

                         .input-field {
                              padding: none;
                              border-radius: unset;
                              border-top: none;
                              border-left: none;
                              border-right: none;
                              border-bottom: 1px solid lighten($primaryFontColor, 60%);
                              outline: none;
                              box-shadow: none;

                              &:active,
                              &:focus {
                                   border-bottom: 1px solid lighten($secondaryFontColor, 10%);
                              }
                         }

                         .form-label {
                              margin: 12em;
                              position: absolute;
                              top: 50%;
                              left: 0;
                              margin: 0;
                              transform: translateY(-50%);
                              color: lighten($primaryFontColor, 40%);
                         }

                         .active {
                              top: -2px;
                              font-size: 0.9rem;
                         }
                    }
               }

               .input-field-comment {
                    &:active,
                    &:focus,
                    &:hover {
                         outline: $secondaryFontColor;
                         border-color: $secondaryFontColor;
                         box-shadow: 0 0 0 0.25rem lighten($secondaryFontColor, 40%);
                    }
               }
          }
     }

     .contact-messages {
          flex-grow: 2;
     }
}
