@import "./variables.scss";

.footer {
     position: relative;
     background: linear-gradient(to top, rgba(0, 0, 0, 0.541), transparent), url("../img/space.jpg");
     background-size: cover;
     padding: 4em 0;
     color: $differenceFontColor;

     &::after {
          position: absolute;
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(26, 26, 26, 0.451);
     }

     & * {
          position: relative;
          z-index: 1;
     }

     .div1 {
          display: flex;

          div {
               flex-grow: 1;

               ul > li {
                    margin-bottom: 0.5em;
               }

               a {
                    color: $differenceFontColor;

                    &:nth-last-child(1) {
                         text-decoration: none;
                    }

                    &:nth-last-child(2) {
                         text-decoration: none;
                    }
               }
          }
     }
     .div2 {
          display: flex;
          justify-content: center;

          ul {
               li {
                    font-size: clamp(0.8em, 2.5vw, 1.2em);
                    padding: 0 1.5em;
                    mix-blend-mode: difference;

                    &:nth-last-child(1) {
                         color: darken($differenceFontColor, 20%);
                         border-left: 1px solid;
                    }

                    &:nth-last-child(2) {
                         color: darken($differenceFontColor, 20%);
                         border-left: 1px solid;
                    }
               }
          }
     }
}
