@import "./variables.scss";

.hero-container {
     position: relative;
     border: 1px solid rgba(128, 128, 128, 0.288);
     width: 100vw;
     height: 100vh;
     color: $primaryFontColor;

     background: radial-gradient(circle at center, rgba(14, 31, 47, 0.562), darken(rgb(14, 31, 47), 10%)),
          url("../media/space.jpg");
     background-size: cover;

     .main-content-wrapper {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1em;
          color: $differenceFontColor;

          h1 {
               font-size: 6em;
               margin-bottom: 0;
               text-align: center;
               opacity: 0;
               animation: 1s appear ease-in-out forwards 0.5s;

               @keyframes appear {
                    from {
                         opacity: 0;
                    }
                    to {
                         opacity: 1;
                    }
               }

               @media (max-width: 1400px) {
                    font-size: 4em;
               }

               @media (max-width: 992px) {
                    font-size: 3em;
               }

               @media (max-width: 576px) {
                    font-size: 2em;
               }
          }

          .text-wrapper1 {
               position: relative;
               display: flex;
               justify-content: center;
               align-items: center;
               padding: 0 2em;
               height: 1vh;
               overflow: hidden;
               animation: animatetext 0.5s ease-in-out forwards;
               animation-delay: 1s;
               transition: 1s ease-in-out;

               @keyframes animatetext {
                    0% {
                         height: 1vh;
                    }

                    100% {
                         height: calc(12vh + 5px);
                    }
               }

               @media (max-width: 1400px) {
                    @keyframes animatetext {
                         0% {
                              height: 1vh;
                         }
                         100% {
                              visibility: visible;
                              height: calc(10vh + 5px);
                         }
                    }
               }

               .border-UI {
                    position: absolute;
                    top: 0;
                    right: 50%;
                    transform: translateX(-50%);
                    width: 0%;
                    height: calc(12vh + 5px);
                    border-top: 10px solid;
                    border-bottom: 10px solid;
                    animation: animateWidth 1s ease-in-out forwards, animateGoingRight 0.5s ease-in-out forwards 1.5s;

                    @media (max-width: 1400px) {
                         height: calc(10vh + 5px);
                    }

                    @keyframes animateWidth {
                         0% {
                              width: 0%;
                         }
                         100% {
                              width: 100%;
                              right: 0;
                              transform: none;
                         }
                    }

                    @keyframes animateGoingRight {
                         0% {
                              width: 100%;
                         }

                         100% {
                              width: 0%;
                              border-right: 10px solid;
                         }
                    }
               }
          }

          .text-wrapper2 {
               width: 35em;
               display: flex;
               align-items: center;

               @media (max-width: 1400px) {
                    width: 25em;
               }

               @media (max-width: 992px) {
                    width: 15em;
               }

               .h1-content {
                    text-align: start;
               }
          }
     }

     .content-wrapper1,
     .content-wrapper2 {
          scale: 0.8;
          visibility: hidden;
          transition: 0.5s ease-in-out;

          @keyframes delayedappearance {
               from {
                    visibility: hidden;
                    transform: scale(0);
               }
               to {
                    visibility: visible;
                    transform: scale(1);
               }
          }

          &:hover {
               opacity: 1;
               scale: 1;
          }
     }

     .content-wrapper1 {
          position: absolute;
          bottom: 0;
          max-width: 20em;
          font-size: clamp(0.5em, 2.5vw, 1.1em);
          margin: 3em 1em;
          padding: 1em;
          border: 1px solid $differenceFontColor;
          border-radius: 3px;
          color: $differenceFontColor;
          opacity: 0.4;
          animation: delayedappearance 0.5s ease-in-out forwards 2.1s;

          @media (max-width: 576px) {
               margin: 7em 1em;
          }

          p {
               margin-bottom: 2em;
          }

          a {
               text-decoration: none;
               @include buttonConfig2(0.5em, 1.5em, unset, #dc3545, #dc3545);
          }
     }

     .content-wrapper2 {
          position: absolute;
          top: 0;
          right: 0;
          max-width: 20em;
          font-size: clamp(0.5em, 2.5vw, 1.1em);
          margin: 5em 2em;
          padding: 1em;
          border: 1px solid $differenceFontColor;
          border-radius: 3px;
          color: $differenceFontColor;
          opacity: 0.4;
          animation: delayedappearance 0.5s ease-in-out forwards 1.9s;

          @media (max-width: 576px) {
               margin: 8em 2em;
          }

          a {
               text-decoration: none;
               @include buttonConfig2(0.5em, 1.5em, unset, #dc3545, #dc3545);

               margin-top: 1em;
          }
     }

     .socials-container1 {
          position: absolute;
          bottom: 0;
          right: 0;
          margin: 3em;
          gap: 3em;

          visibility: hidden;
          transition: 0.5s ease-in-out;
          animation: socialsdelayedappearance1 0.5s ease-in-out forwards 2.3s;

          @media (max-width: 992px) {
               scale: 0;
          }

          @keyframes socialsdelayedappearance1 {
               from {
                    visibility: hidden;
                    transform: scale(0);
               }
               to {
                    visibility: visible;
                    transform: scale(1);
               }
          }

          .item1,
          .item2,
          .item3,
          .item4 {
               font-size: clamp(1em, 2.5vw, 2em);

               svg {
                    color: $differenceFontColor;
               }
          }
          .item4 {
               a {
                    text-decoration: none;
                    border-radius: 50px;
                    background: #dc3545;
                    border: 1px solid #dc3545;
                    padding: 0.4em 1.5em;
                    color: $differenceFontColor;
                    transition: 0.3s ease-in-out;
                    white-space: nowrap;

                    &:hover {
                         color: $differenceFontColor;
                         background: none;
                    }
               }
          }
     }

     .socials-container2 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin: 10em 0 0 0;
          gap: 3em;
          scale: 0;
          transition: 0.5s ease-in-out;

          @media (max-width: 992px) {
               margin: 7em 0 0 0;
               gap: 2em;
               scale: 1;
          }

          .item1,
          .item2,
          .item3,
          .item4 {
               font-size: clamp(1em, 2.5vw, 2em);

               svg {
                    color: $differenceFontColor;
               }
          }
          .item4 {
               a {
                    text-decoration: none;
                    border-radius: 50px;
                    background: #dc3545;
                    border: 1px solid #dc3545;
                    padding: 0.4em 1.5em;
                    color: $differenceFontColor;
                    transition: 0.3s ease-in-out;
                    white-space: nowrap;

                    &:hover {
                         color: $differenceFontColor;
                         background: none;
                    }
               }
          }
     }
}
