@import "./variables.scss";

// #hero-container {
//      position: relative;
//      overflow: hidden;
//      box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.24);

//      .div1 {
//           display: flex;
//           flex-direction: column;
//           justify-content: center;
//           height: 100vh;

//           h1,
//           p,
//           button,
//           a {
//                transition: 0.5s ease-in-out;

//                @media (max-width: 1400px) {
//                     color: $differenceFontColor !important;
//                     mix-blend-mode: difference;
//                }
//           }

//           h1 {
//                font-size: 5rem;
//           }

//           h1,
//           a {
//                color: $primaryFontColor;
//           }

//           p {
//                color: lighten($primaryFontColor, 20%);
//                font-style: italic;
//           }

//           .contact-button,
//           .resume-download {
//                text-decoration: none;
//                @include buttonConfig(2em);

//                @media (max-width: 1400px) {
//                     border: 1px solid $differenceFontColor;
//                }
//           }

//           ul > li {
//                font-size: 2em;
//                margin-top: 1em;
//                margin-right: 1em;
//           }
//      }

//      .div2 {
//           position: absolute;
//           top: 0;
//           z-index: -1;
//           width: 100%;
//           height: 100%;
//           left: 0;

//           &::before {
//                position: absolute;
//                top: 0;
//                left: 0;
//                content: "";
//                display: block;
//                width: 100%;
//                height: 100%;
//                background: $bgColor;
//                transition: none;
//                z-index: -2;
//                filter: brightness(80%);
//           }

//           @media (min-width: 1400px) {
//                left: unset;
//                right: 0 !important;
//                margin-right: -15em;
//                width: 70vw;
//                height: 100vh;
//                border-radius: 200em 0 0 0;
//                overflow: hidden;
//           }

//           :first-child {
//                width: calc(100% + 60vw);
//                height: calc(100% + 30vh);
//                margin-top: -25em;
//                margin-left: -10em;
//                transform: translateY(0);
//                rotate: -40deg;
//                transition: 1s ease-in-out;
//                animation: 10s translation-animation linear infinite;
//                object-fit: cover;

//                @keyframes translation-animation {
//                     0% {
//                          scale: 3;
//                          transform: translateY(300px);
//                     }
//                     10% {
//                          scale: 1;
//                          transform: translateX(-200px);
//                     }
//                     70% {
//                          scale: 1;
//                          transform: translateX(-900px);
//                     }
//                     100% {
//                          transform: translateY(300px);
//                          scale: 6;
//                     }
//                }

//                @media (max-width: 1400px) {
//                     filter: brightness(80%);
//                     width: 100% !important;
//                     height: 100% !important;
//                     animation: none;
//                     rotate: 0deg;
//                     margin: unset;
//                }
//           }

//           :last-child {
//                filter: brightness(80%);
//                position: absolute;
//                top: 50%;
//                right: 0;
//                margin-right: 20em;
//                margin-top: 5em;
//                width: 15em;
//                height: 15em;
//                transition: 0.5s ease-in-out;

//                @media (max-width: 576px) {
//                     margin-right: 10em;
//                     margin-top: 20em;
//                     width: 7em;
//                     height: 7em;
//                }
//           }
//      }
// }

// .animate-in {
//      animation: animate-astronaut 15s ease-in-out infinite;

//      @keyframes animate-astronaut {
//           0% {
//                transform: translateY(-70%);
//                scale: 1;
//           }
//           50% {
//                transform: translateY(-10%);
//                scale: 1.2;
//           }
//           100% {
//                transform: translateY(-70%);
//                scale: 1;
//           }
//      }
// }

// .animate-out {
//      animation: animate-out-astronaut 0.6s forwards;

//      @keyframes animate-out-astronaut {
//           0% {
//                scale: 1;
//           }
//           30% {
//                transform: translateY(70%);
//                scale: 0.7;
//           }
//           100% {
//                scale: 0;
//                visibility: hidden;
//           }
//      }
// }

.hero-container {
     border: 1px solid rgba(128, 128, 128, 0.288);
     width: 100vw;
     height: 100vh;
     color: $primaryFontColor;

     background: radial-gradient(circle at center, rgba(14, 31, 47, 0.562), darken(rgb(14, 31, 47), 10%)),
          url("../media/space.jpg");
     background-size: cover;

     .content-wrapper {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1em;
          color: $differenceFontColor;

          h1 {
               font-size: clamp(1.5em, 5.5vw, 6em);
               margin-bottom: 0;
               text-align: center;
          }

          .text-wrapper1 {
               position: relative;
               padding: 0 2em;
               height: 1vh;
               overflow: hidden;
               animation: animatetext 0.5s ease-in-out forwards;
               animation-delay: 1s;
               transition: 1s ease-in-out;

               @keyframes animatetext {
                    0% {
                         height: 1vh;
                    }
                    100% {
                         height: calc(12vh + 5px);
                    }
               }

               .border-UI {
                    position: absolute;
                    top: 0;
                    right: 50%;
                    transform: translateX(-50%);
                    width: 0%;
                    height: calc(12vh + 5px);
                    border-top: 10px solid;
                    border-bottom: 10px solid;
                    animation: animateWidth 1s ease-in-out forwards, animateGoingRight 0.5s ease-in-out forwards 2s;

                    @keyframes animateWidth {
                         0% {
                              width: 0%;
                         }
                         100% {
                              width: 100%;
                              right: 0;
                              transform: none;
                         }
                    }

                    @keyframes animateGoingRight {
                         0% {
                              width: 100%;
                         }

                         100% {
                              width: 0%;
                              border-right: 10px solid;
                         }
                    }
               }
          }

          .text-wrapper2 {
               width: 35em;

               .h1-content {
                    text-align: start;
               }
               // .profession {
               //      background: linear-gradient(
               //           to right,
               //           #00f7ff,
               //           #ff7b00,
               //           #ff5100,
               //           #c51e00,
               //           #ff0b0b,
               //           #dd0081
               //      );
               //      background-clip: text;
               //      -webkit-background-clip: text;
               //      -webkit-text-fill-color: transparent;
               // }
          }
     }
}
