@import "./variables.scss";

#navbar {
     z-index: 2;
     @media (max-width: 768px) {
          min-width: 90vw;
     }

     #btn-offcanvas-toggle {
          background-color: $differenceFontColor;
          border-radius: 2px;
     }

     a {
          color: $differenceFontColor;
          font-size: 1.5em;

          @media (max-width: 1400px) {
               color: $differenceFontColor !important;
          }
     }

     .nav-link {
          font-size: 1.2em;
          color: $differenceFontColor;
     }
}
