@import "./variables.scss";

#navbar {
     z-index: 1;
     @media (max-width: 768px) {
          min-width: 90vw;
     }

     #btn-offcanvas-toggle {
          background-color: $differenceFontColor;
          border-radius: 2px;
     }

     a {
          color: $primaryFontColor;

          @media (max-width: 1400px) {
               color: $differenceFontColor !important;
               mix-blend-mode: difference;
          }
     }

     .nav-link {
          color: lighten($primaryFontColor, 10%);
     }
}
