@import "./variables.scss";

.services-container {
     height: 60vh;
     display: flex;
     align-items: center;
     margin-left: 20em;
     margin-bottom: 5em;
     padding: 25em 0;
     background: url("..//media/working.png");
     background-repeat: no-repeat;
     background-position: bottom right;
     background-size: 50rem 50rem;
     transition: 0.5s ease-in-out;
     color: $primaryFontColor;

     @media (max-width: 1600px) {
          margin-left: 1em;
     }
     @media (max-width: 1400px) {
          background-size: 30rem 30rem;
     }

     @media (max-width: 1200px) {
          background-size: 15rem 15rem;
     }

     @media (max-width: 576px) {
          padding: 32em 0;
     }

     .service-item {
          #service {
               display: flex;
               gap: 1em;
               margin-bottom: 1em;
               transition: 0.5s ease-in-out;
               margin-left: calc(var(--i) * 5em);

               p {
                    width: 300px;
                    color: lighten($primaryFontColor, 20%);
               }

               @media (max-width: 1400px) {
                    margin-left: calc(var(--i) * 3em);
               }

               @media (max-width: 992px) {
                    margin-left: calc(var(--i) * 4em);
               }

               @media (max-width: 576px) {
                    margin-left: calc(var(--i) * 0em);
               }

               svg {
                    font-size: 5em;
               }
          }
     }
}
