@import "./variables.scss";

.signup-container {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;

     .form-wrapper1 {
          border: 1px solid $secondaryFontColor;
          border-radius: 3px;
          padding: 2em;
          height: 35em;
          width: 30em;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          p {
               color: lighten($primaryFontColor, 40%);
               font-size: 0.8rem;
          }

          .login {
               width: 100%;

               .submit-button-wrapper1 {
                    margin-top: 2em;

                    @include buttonConfig2(
                         0.5em,
                         1.5em,
                         unset,
                         $secondaryFontColor,
                         $secondaryFontColor,
                         $secondaryFontColor,
                         $primaryFontColor
                    );
               }

               .input-field-container {
                    position: relative;
                    margin: 1em;

                    & * {
                         transition: 0.3s ease-in-out;
                    }

                    .input-field {
                         border-radius: unset;
                         border-top: none;
                         border-left: none;
                         border-right: none;
                         border-bottom: 1px solid lighten($primaryFontColor, 60%);
                         outline: none;
                         box-shadow: none;

                         &:active,
                         &:focus {
                              border-bottom: 1px solid lighten($secondaryFontColor, 10%);
                         }
                    }

                    .form-label {
                         position: absolute;
                         top: 50%;
                         left: 0;
                         margin: 0;
                         transform: translateY(-50%);
                         color: lighten($primaryFontColor, 40%);
                    }

                    .active {
                         top: -2px;
                         font-size: 0.9rem;
                    }
               }
          }
     }
}
