$differenceFontColor: #c5c5c5;
$primaryFontColor: #3a3a3a;
$secondaryFontColor: #dc3545;
$bgColor: rgba(14, 31, 47, 255);

@mixin buttonConfig($me: unset) {
     margin-right: $me;
     border-radius: unset !important;
     background: none;
     border: 1px solid $primaryFontColor;
     padding: 0.5em 3em;
     color: lighten($primaryFontColor, 30%);
     transition: 0.3s ease-in-out;

     &:hover {
          color: $differenceFontColor;
          background: lighten($primaryFontColor, 10%);
     }
}

@mixin buttonConfig2(
     $paddingvalue1,
     $paddingvalue2,
     $marginvalue,
     $borderColor,
     $background: none,
     $borderradius: unset,
     $fontColor: #c5c5c5
) {
     border-radius: $borderradius !important;
     background: none;
     border: 1px solid $borderColor;
     padding: $paddingvalue1 $paddingvalue2;
     color: $fontColor;
     transition: 0.3s ease-in-out;

     &:hover {
          color: $differenceFontColor;
          background: $background;
     }

     &:last-child {
          margin-left: $marginvalue;
     }
}

@mixin centered-absolute() {
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

@mixin animationConfig($name, $duration, $timingfunction, $direction) {
     animation: $name $duration $timingfunction $direction;
}
