$differenceFontColor: #c5c5c5;
$primaryFontColor: #3a3a3a;
$bgColor: rgba(14, 31, 47, 255);

@mixin buttonConfig() {
     margin-right: 2em;
     border-radius: unset !important;
     background: none;
     border: 1px solid $primaryFontColor;
     padding: 0.5em 3em;
     color: lighten($primaryFontColor, 30%);
     transition: 0.3s ease-in-out;

     &:hover {
          color: $differenceFontColor;
          background: lighten($primaryFontColor, 10%);
     }
}
