* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

#hero-container {
     width: 100vw;
     height: 100vh;
     position: relative;
     display: flex;
     overflow: hidden;

     .div1,
     .div2 {
          flex: 1;
     }

     .div1 {
          // color: #f54104;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;

          h1 {
               font-size: 4em;
               mix-blend-mode: difference;
          }
          p {
               font-style: italic;
          }
          button {
               margin-right: 1em;
               padding: 0.5em 2.5em;
               border: 2px solid black;
               border-radius: 10px;
               background-color: transparent;
          }

          ul > li {
               margin-top: 1em;
               font-size: 2em;
               margin-right: 1em;

               a {
                    color: rgba(0, 0, 0, 0.856);
               }
          }
     }

     .div2 {
          position: relative;
          display: flex;
          justify-content: end;

          .img-container {
               position: absolute;
               overflow: hidden;
               margin-top: -3em;
               margin-right: -15em;
               width: 70em;
               height: 70em;
               border-radius: 220em 121em 176em 200em;

               .img {
                    position: absolute;
                    height: 80em;
                    rotate: -40deg;
                    margin-top: -28em;
                    transform: translateX(-200px);
                    transition: 3s ease-in-out linear;
                    animation: translation1 10s linear infinite;

                    @keyframes translation1 {
                         0% {
                              scale: 3;
                              transform: translateY(300px);
                         }
                         10% {
                              scale: 1;
                              transform: translateX(-200px);
                         }
                         70% {
                              scale: 1;
                              transform: translateX(-1200px);
                         }
                         100% {
                              transform: translateY(300px);
                              scale: 6;
                         }
                    }
               }
          }
     }
}
